doctype html
head
  meta(charset='UTF-8')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='icon', href='/image/Project_Logo(2)_icon.png')
  title ARWK
  script.
    $(document).on('click', '#btnSave', function(e){
    e.preventDefault();
    $("#form").submit();
    });
    $(document).on('click', '#btnList', function(e){
    e.preventDefault();
    location.href="${pageContext.request.contextPath}/board/getBoardList";
    });
  style.
    body {
    padding-top: 10px;
    padding-bottom: 30px;
    }
    .signup-form{
    width: 70%;
    padding-top:10px;
    padding-bottom:0px;
    }
    .btn{
    margin-left:43%;
    }
div
  center
    a(href='wk.html')
      img(src='/image/Project_Logo(2).png', width='10%')
article.signup-form
  .container(role='main')
    h2 Add Content
    form#form(name='form', role='form', method='post', action='${pageContext.request.contextPath}/board/saveBoard')
      .file-upload.file-upload-inline
        .file-upload-wrap
          .file-upload-btn
            i.fa.fa-folder-open
            |  &#xC0AC;&#xC9C4;&#xCCA8;&#xBD80;
          input(type='file', multiple='')
    div
      button#btnSave.btn.btn-sm.btn-primary(type='button') &#xC774;&#xBBF8;&#xC9C0;&#xCD94;&#xAC00;
