doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
  title ARWK
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/wk_style.css')
  link(rel='icon', href='/images/Project_Logo_icon.png')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  style.
    .d{
    margin-left:15%;
    }
.signup-form
  form(action='http://localhost:8080/search', method='post')
    center
      a(href='/')
        img(src='/images/Project_Logo.png', width='85%')
    .search.d
      input.search__input(placeholder='Search' name ="title")
      button.fa.fa-search.search__button &#xAC80;&#xC0C9;
    .text-center Easy and convenient knowledge-sharing warehouse
    hr
    if name
      button.ebox.a(type='button')=name
      button.ebox(type='button', onclick="location = '/users/LogOut'") LogOut
    else
      button.ebox.a(type='button', onclick="location='/SignIn'") 로그인
      button.ebox(type='button', onclick="location = '/SignUp'") 회원가입
