doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
    title ARWK
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/wk_style.css')
    link(rel='icon', href='/images/Project_Logo(2)_icon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .signup-form
      form
        center
          a(href='/')
            img(src='/images/Project_Logo(2).png', width='90%')
        .text-center Easy and convenient knowledge-sharing warehouse
        hr
        button.ebox.a(type='button', onclick="location='Signin.html'") 로그인
        button.ebox(type='button', onclick="location = 'Signup.html'") 회원가입
