<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>ARWK</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="wk_style.css">
<link rel="icon" href="Project_Logo(2)_icon.png">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="signup-form">
    <form>
    <center>
      <a href="wk.html"><img src="Project_Logo(2).png" width="90%"></a>
    </center>
        <div class="text-center">Easy and convenient knowledge-sharing warehouse</div>
        <hr>
        <button class="ebox a" type="button" onclick = "location='Signin.html'">로그인</a></button>
        <button class="ebox "  type="button" onclick = "location = 'Signup.html'">회원가입</a></button>  
    </form>
</div>
</body>
</html>       