doctype html
head
  meta(charset='UTF-8')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  link(rel='icon', href='/images/Project_Logo_icon.png')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style.css')
  title ARWK
  script.
    $(document).on('click', '#btnSave', function(e){
    e.preventDefault();
    $("#form").submit();
    });
    $(document).on('click', '#btnList', function(e){
    e.preventDefault();
    location.href="${pageContext.request.contextPath}/board/getBoardList";
    });
  style.
    body {
    padding-top: 10px;
    padding-bottom: 30px;
    }
    .signup-form{
    width: 70%;
    padding-top:10px;
    padding-bottom:0px;
    }
    .a{
    margin-left:35%;
    margin-right: 10px;
    }
div
  center
    a(href='/')
      img(src='/images/Project_Logo.png', width='10%')
article.signup-form
  .container(role='main')
    h2 Add Content
    form#form(name='form', role='form', method='post', action='http://localhost:8080/upload/docs')
      div
        .mb-3
          label(for='title') &#xC81C;&#xBAA9;
          input#title.form-control(type='text', name='title', placeholder='문서명을 입력해 주세요', required='required')
        .mb-3
          label(for='content') &#xB0B4;&#xC6A9;
          textarea#content.form-control(rows='9', name='content', placeholder='내용을 입력해 주세요')
          input(type="submit", value="")
          input#btnSave.btn.btn-sm.btn-primary.a(type="submit", value="저장")
          button.btn.btn-sm.btn-primary(type='button', onclick="location.href = '/upload/image'") 이미지 추가