doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
  title ARWK
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='icon', href='/images/Project_Logo_icon.png')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
body
  .signup-form
    form(action='http://localhost:8080/users/SignUp', method='post')
      center
        a(href='/')
          img(src='/images/Project_Logo.png', width='40%')
      hr
      .form-group
        input.form-control(type='text', name='user_name', placeholder='아이디', required='required')
      .form-group
        input.form-control(type='email', name='email', placeholder='이메일 주소', required='required')
      .form-group
        input.form-control(type='password', name='password', placeholder='비밀번호', required='required')
      .form-group
        input.form-control(type='password', name='confirm_password', placeholder='비밀번호 확인', required='required')
      .form-group
        button.btn.btn-primary.btn-block.btn-lg(type='submit') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
      p.small.text-center
        | Easy and convenient knowledge-sharing warehouse  
        br
        a(href='/') ARWK
    .text-center
      | &#xC774;&#xBBF8; &#xD68C;&#xC6D0;&#xC774;&#xC2E0;&#xAC00;&#xC694;? 
      a(href='#myModal', data-toggle='modal') &#xB85C;&#xADF8;&#xC778; &#xD558;&#xAE30;
  #myModal.modal.fade
    .modal-dialog.modal-login
      .modal-content
        .modal-header
          .avatar
            img(src='/images/Project_Logo_icon.png', alt='Avatar')
          h4.modal-title WELCOME
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        .modal-body
          form(action='/users/LogUp', method='post')
            .form-group
              input.form-control(type='text', name='user_name', placeholder='아이디', required='required')
            .form-group
              input.form-control(type='password', name='password', placeholder='비밀번호', required='required')
            .form-group
              button.btn.btn-primary.btn-lg.btn-block.login-btn(type='submit') &#xB85C;&#xADF8;&#xC778;
  if err 
    script alert('이미 존재하는 아이디 혹은 이메일 입니다.');