<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>ARWK</title>
<link rel="stylesheet" href="style.css">
<link rel="icon" href="Project_Logo(2)_icon.png">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="signup-form">
    <form action="wk.html" method="post">
    <center>
      <a href="wk.html"><img src="Project_Logo(2).png" width="40%"></a>
  
    </center>
		<hr>
        <div class="form-group">
        	<input type="text" class="form-control" name="username" placeholder="아이디" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="비밀번호" required="required">
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn" onclick = "location='wk.html'">로그인</button>
        </div>
		<p class="small text-center">Easy and convenient knowledge-sharing warehouse  <br><a href="wk.html">ARWK</a></p>
    </form>
	<div class="text-center">회원이 아니시라면 <a href="Signup.html">회원가입 하기</a>
	</div></div>
</body>
</html>       