doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet')
    title ARWK
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/Project_Logo_icon.png')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .signup-form
      form(action='http://localhost:8080/users/SignIn', method='post')
        center
          a(href='/')
            img(src='/images/Project_Logo.png', width='40%')
        hr
        .form-group
          input.form-control(type='text', name='username', placeholder='아이디', required='required')
        .form-group
          input.form-control(type='password', name='password', placeholder='비밀번호', required='required')
        .form-group
          button.btn.btn-primary.btn-lg.btn-block.login-btn(type='submit', onclick="location='wk.html'") 로그인
        p.small.text-center
          | Easy and convenient knowledge-sharing warehouse  
          br
          a(href='/') ARWK
      .text-center
        | 회원이 아니시라면 
        a(href='/') 회원가입 하기
