<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="wk_style.css">
    <link rel="icon" href="Project_Logo(2)_icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="wk_js.js"></script>
    <title>ARWK</title>
    <style>
      .e{
          padding-left: 15%;
          margin-bottom:0px;
      }
      .f{
        float:none;
        font-size:20px;
        width:50%;
        height:30px;
      }
    </style>
</head>
<body>
  <div clas="box">
    <button class="a ebox" onclick = "location.href = 'index.html'">add content</a></button>
    <button class="ebox"onclick = "location.href = 'Signup.html'">Logout</a></button>
    <div class="search">
        <input class="search__input" placeholder="Search"/>
        <button class="fa fa-search search__button">검색</button>
      </div>
    <div><center><a href="wk.html"><img src="Project_Logo(2).png" width="10%"></a></center></div>
    <div class="e">
        <input type="text" class="search__input f">
    </div>
    <div class="tabs">
          <div class="tabs-header">
            <div class="border"></div>
            <ul>
              <li class="active"><a href="#read" tab-id="1" ripple="ripple" ripple-color="#FFF">읽기</a></li>
              <li><a href="#editing" tab-id="2" ripple="ripple" ripple-color="#FFF">편집</a></li>
              <li><a href="#history" tab-id="3" ripple="ripple" ripple-color="#FFF">역사</a></li>
            </ul>
            <nav class="tabs-nav"><i id="prev" ripple="ripple" ripple-color="#FFF" class="material-icons"></i><i id="next" ripple="ripple" ripple-color="#FFF" class="material-icons"></i></nav>
          </div>
          <div class="tabs-content">
            <div tab-id="1" class="tab active">내용</div>
            <div tab-id="2" class="tab">내용</div>
            <div tab-id="3" class="tab">내용</div>
          </div>
        </div>
      </div>
    </body>
</html>
        