doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='/stylesheets/wk_style.css')
  link(rel='icon', href='/images/Project_Logo_icon.png')
  link(href='https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap', rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='/javascripts/wk_js.js')
  title ARWK
  style.
    body{
    font-family: 'Nanum Gothic', sans-serif;
    }
    .e{
    margin-left:15%;
    background-color:white;
    color:black;
    width:70%;
    height:50px;
    font-size:40px;
    }
    .f{
    margin-top:0px;
    }
div(clas='box')
  button.a.ebox(onclick="location.href = '/newdocs'") add content
  if user_name
    button.ebox(onclick="location.href = 'Signup.html'") Logout
  else
    button.ebox(onclick="location.href = 'Signup.html'") LogIn
  .search 
    form(action="/search", method ="post")
      input.search__input(placeholder='Search', name="title")
      button.fa.fa-search.search__button(type="submit") 검색
  div
    center
      a(href='/')
        img(src='/images/Project_Logo.png', width='10%')
  .e
    p(style=' line-height: 50px;')=title
  .tabs.f
    .tabs-header
      .border
      ul
        li.active
          a(href='#read', tab-id='1', ripple='ripple', ripple-color='#FFF') 읽기
        li
          a(href='#editing', tab-id='2', ripple='ripple', ripple-color='#FFF') 역사
        li
          a(href='#history', tab-id='3', ripple='ripple', ripple-color='#FFF') 편집
      nav.tabs-nav
        i#prev.material-icons(ripple='ripple', ripple-color='#FFF') &#xE314;
        i#next.material-icons(ripple='ripple', ripple-color='#FFF') &#xE315;
    .tabs-content
      .tab.active(tab-id='1') !{content}
      .tab(tab-id='2')
        each val in history
          li=val['date'] + ' ' + val['contributer'] + ' version =' + val['version']
      a(href=`/newdocs`).tab(tab-id='3') 편집으로 이동